table.facts { font-family: Helvetica, Verdana, sans-serif; }
table.facts td.sep { background-color: #a0c0d0; }
table.facts td.rh { background-color: #c0e0f0; }
table.facts td.wait { background-color: #f0e0e0; }
table.facts td { background-color: #d0d0d0; }
table.facts th { background-color: #a0c0d0; }

.button {
   float: left;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

/* <a href="#" class="button" style="top: 229px; left: 166px; ">Hello<br> World</a> */
.orangebutton {      
     border-top: 1px solid #ff9747;
     background: #f08718;
     background: -webkit-gradient(linear, left top, left bottom, from(#edbc66), to(#f08718));
     background: -webkit-linear-gradient(top, #edbc66, #f08718);
     background: -moz-linear-gradient(top, #edbc66, #f08718);
     background: -ms-linear-gradient(top, #edbc66, #f08718);
     background: -o-linear-gradient(top, #edbc66, #f08718);
     padding: 6.5px 13px;
     -webkit-border-radius: 14px;
     -moz-border-radius: 14px;
     border-radius: 14px;
     -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
     -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
     box-shadow: rgba(0,0,0,1) 0 1px 0;
     text-shadow: rgba(0,0,0,.4) 0 1px 0;
     color: white;
     font-size: 24px;
     font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
     text-decoration: none;
     vertical-align: middle;
} 
.orangebutton:hover {      
     border-top-color: #ff6600;
     background: #ff6600;
     color: #ffffff;
} 
.orangebutton:active {      
     border-top-color: #f0f0f0;
     background: #f0f0f0;
} 



